<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/bold/style.css" />
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" type="image/png" href="/images/avatar.png" />
    <style type="text/css" media="screen">
        @media (prefers-color-scheme: dark) { 
            {{ partial "css/syntax-dark.css" . | safeCSS }}
        }
        @media (prefers-color-scheme: light) { 
            {{ partial "css/syntax-light.css" . | safeCSS }} 
        }
    </style>
</head>

<body>
    <nav id="top">
        <div id="avatar">
            <img src="/images/avatar.png" alt="Demétrio Neto" />
        </div>
        <div id="links">
            <ul class="social">
                <li><a href="https://bsky.app/profile/dneto.me" rel="noopener noreferrer" target="_blank">
                        <i class="ph ph-butterfly"></i>
                    </a>
                </li>
                <li><a href="https://discord.com/users/100316148863614976" rel="noopener noreferrer" target="_blank">
                        <i class="ph ph-discord-logo"></i></a></li>
                <li><a href="https://github.com/dneto" rel="noopener noreferrer" target="_blank"><i
                            class="ph ph-github-logo"></i></a></li>
                <li><a href="https://x.com/dneto__" rel="noopener noreferrer" target="_blank"><i
                            class="ph ph-x-logo"></i></a></li>
            </ul>
            <ul class="pages">
                <li><a href="/">Início</a></li>
                <li><a href="/posts/">Publicações</a></li>
                <li><a href="/about/">Sobre</a></li>
                <li><a href="/tags/">Tags</a></li>
            </ul>
        </div>
    </nav>
    <div id="main">
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </div>
</body>

</html>