{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{with .Resources.GetMatch "*cover*"}}
<img src="{{ .RelPermalink}}" class="cover" />
{{end}}
<div class="content">
  {{ partial "title.html" . }}
  {{ with .Translations }}
  <div class="translations">
  {{lang.Translate "also_available_in"}}
  <ul>
  {{range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
  {{end}}
  </ul>
  </div>
  {{ end }}
  <div id="toc-in-content">
    <div class="header expandable">
      <i class="ph-bold ph-list-numbers"></i> <strong>{{lang.Translate "toc"}}</strong>
    </div>
    {{.TableOfContents}}
  </div>
  <div id="post">
    {{ .Content }}
  </div>
  {{partial "comments" .}}
</div>
{{ end }}