@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Chonburi&family=Orelega+One&family=Titan+One&display=swap');

@font-face {
  font-family: "Commit Mono";
  src: url("fonts/CommitMono\ VariableFont.woff2") format('woff');
}


@media screen and (max-width: 1280px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) {
  .hide-on-desktop {
    display: none !important;
  }
}

:root {
  color-scheme: light dark;
  --text-font: "Arvo", serif;
  --text-font-weight: light-dark(250, 300);

  --heading-font-family: "Titan One", serif;
  --heading-font-weight: 400;

  --code-font: "Commit Mono", monospace;

  --tags-font-family: "Arvo", sans-serif;
  --tags-font-size: 0.85rem;
  --tag-color: light-dark(#acb0be, #585b70);

  --top-font-family: "Arvo", sans-serif;
  --space-md: 1.5rem;

  --background-color: light-dark(#eff1f5, #11111b);
  --text-color: light-dark(#4c4f69, #cdd6f4);
  --link-color: light-dark(#1e66f5, #74c7ec);
  --link-hover-color: light-dark(#e64553, #f38ba8);
  --title-color: light-dark(#fe640b, #fab387);
  --heading-color: light-dark(#04a5e5, #b4befe);
  --blockquote-color: light-dark(#7287fd, #b4befe);
  --blockquote-text-color: light-dark(#5c5f77, #bac2de);
  --tag-background-color: light-dark(#e6e9ef, #1e1e2e);
  --code-color: light-dark(#5c5f77, #bac2de);
  --surface-color: light-dark(#ccd0da, #313244);

  --menu-background-color: light-dark(#e6e9ef, #1e1e2e);
  --divison-background-color: light-dark(#ccd0da, #a6adc8);
}


div#toc-in-content {
  display: block;
  margin-bottom: 1rem;
}

nav#TableOfContents {
  ul {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    list-style-type: none;

    li {
      a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: 500;
        font-style: inherit;

      }

      a:hover {
        color: var(--link-hover-color);
      }

      ul {
        padding: 0;
        padding-left: 1.0rem;
      }
    }
  }
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--text-font);
  font-optical-sizing: auto;
  font-weight: var(--text-font-weight);
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  height: 100%
}

code {
  font-family: var(--code-font);
  font-weight: 400;
  line-height: 1.3rem;
}

pre {
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
}

p {
  text-align: justify;
}

h1 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: normal;
  font-size: 3.0rem;
  color: var(--title-color);
  line-height: 2.8rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: normal;
  font-size: 2.0rem;
  color: var(--heading-color);
  line-height: 2.8rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.0rem;
  color: var(--heading-color);
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--heading-color);
}

div#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
}

div#preview {
  position: relative;
}

div#preview::after {
  background-image: linear-gradient(#1e1e2e00 0%, var(--background-color) 100%);
  position: absolute;
  z-index: 3;
  content: '\00a0';
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 10rem;
}

nav#menu {
  background-color: var(--menu-background-color);

  width: 25vw;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;

  position: fixed;
  height: 100%;
  right: 0;
  top: 0;

  padding-top: var(--space-md);

  p {
    padding: 0 3rem;
    text-align: justify;
  }

  h1.name {
    color: var(--title-color);
    font-family: var(--heading-font-family);
    display: block;
    border-bottom: 2px solid var(--divison-background-color);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: -0.4rem;
    width: 80%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;

    li {
      display: inline-block;

      &:not(:last-child):after {
        content: ' •';
      }

      a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: 600;
        font-style: inherit;
      }

      a:hover {
        color: var(--link-hover-color);
      }

    }
  }

  div#links {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--divison-background-color);
    width: 80%;
  }

}

nav#top {
  background-color: var(--menu-background-color);
  margin: 0;
  height: 15vh;
  text-align: center;

  display: flex;
  vertical-align: middle;
  align-items: center;

  padding: 0 1rem;

  p {
    padding: 0 3rem;
    text-align: justify;
  }

  h1.name {
    color: var(--title-color);
    font-family: var(--heading-font-family);
    display: block;
    flex-grow: 1;
    text-align: left;
    margin-left: 0.5rem;
    font-size: 2.5rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;

    li {
      display: inline-block;

      &:not(:last-child):after {
        content: ' •';
      }

      a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: 600;
        font-style: inherit;
      }

      a:hover {
        color: var(--link-hover-color);
      }

    }
  }

  div#avatar {
    max-width: 50px;
    max-height: 50px;
    padding: 0;
    margin: 0;
  }

}

div#content {
  margin-right: auto;
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  & p code {
    color: var(--code-color);
    background-color: var(--surface-color);
    border-radius: 5px;
    padding: 0 0.2rem;
    font-size: 0.8rem;
  }
}

div#avatar {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

strong {
  font-weight: 700;
}

p {
  vertical-align: middle;
  text-align: justify;
  line-height: 1.25rem;
  ;
}

div#tags {
  margin: 0;
  margin-top: 0.45rem;
  color: var(--tag-color);
  font-weight: 100;
  font-family: var(--tags-font-family);
  font-size: var(--tags-font-size);

  span.tag {
    /* background-color: var(--tag-background-color); */
    /* padding: 0 0.5rem; */
    margin-right: 0.25rem;
    /* font-size: 0.7rem; */
    font-style: italic;
  }
}


a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--link-hover-color);
}

a[href^="https://"]:after {
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  margin-bottom: 0.15rem;
  margin-left: 0.05rem;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  content: '';
  -webkit-mask: url(/icons/external-link.svg) no-repeat 50% 50%;
  mask: url(/icons/external-link.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--link-color);
}

a[href^="https://"]:hover::after {
  background-color: #f38ba8;
}

blockquote {
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  color: var(--blockquote-text-color);
  border: 0;
  border-radius: 2px;
  border-left: 4px solid var(--blockquote-color);
  padding-left: 1rem;
  margin-left: 1rem;
  width: 95%;

  p {
    padding: 0.4rem 0;
  }
}

div.highlight {
  margin: 0;
  padding: 0;
  width: 98%;
  margin-left: auto;
  margin-right: auto;

  pre {
    background-color: #1e1e2e !important;
    padding: 1rem;
    border-radius: 8px;
  }
}

div#posts {

  h1 {
    font-size: 2.0rem;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: var(--space-md);
    margin: 0;

    li {
      margin: 0;
      padding: 0;
      display: block;
      align-items: center;
      justify-content: stretch;

      a {
        margin: 0;
        padding: 0;
      }
    }
  }

  div#tags {
    font-size: 0.8rem;
    margin-top: -0.2rem;
  }
}